listen stats
    bind *:9000
    mode http
    stats enable
    stats uri /stats
    stats refresh 10s
    stats auth admin:password  # Replace with your credentials
#    stats admin if LOCALHOST

frontend http80
    bind *:80
    timeout client 60s
    mode http

    # Define ACLs to match specific paths
    acl serviceA_path path_beg /api/serviceA
    acl serviceB_path path_beg /api/serviceB

    # Route traffic based on the ACLs
    use_backend serviceAServers if serviceA_path
    use_backend serviceBServers if serviceB_path

    # Default backend for unmatched requests
    default_backend defaultBackend

backend serviceAServers
    timeout connect 10s
    timeout server 10s
    balance roundrobin
    mode http
    option httpchk GET /health
    #option redispatch directive allows HAProxy to redirect a request to another server if the selected server fails
    option redispatch
    #Retries up to 2 times to send the request to another healthy server if the first attempt fails
    retries 2
    http-request set-path %[path,regsub(^/api/serviceA/,/serviceA/)]

    #inter 3s: Perform health checks every 3 seconds
    #fall 3: Mark the server as unhealthy after 3 consecutive failures
    #rise 2: Mark the server as healthy after 2 consecutive successes

    server serviceA1 servicea1:8081 check inter 3s fall 3 rise 2
#    server serviceA1 servicea1:8081 check
    server serviceA2 servicea2:8083 check
#    server serviceA host.docker.internal:8082

backend serviceBServers
    timeout connect 5s
    timeout server 5s
    balance roundrobin
    mode http
    option httpchk GET /health
    #option redispatch directive allows HAProxy to redirect a request to another server if the selected server fails
    option redispatch
    #Retries up to 2 times to send the request to another healthy server if the first attempt fails
    retries 2
    http-request set-path %[path,regsub(^/api/serviceB/,/serviceB/)]
    server serviceB1 serviceb1:8082 check
    server serviceB2 serviceb2:8084 check
#    server serviceB host.docker.internal:8083

backend defaultBackend
    timeout connect 10s
    timeout server 10s
    mode http
